<mat-toolbar class="primary">
  <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
    <mat-icon class="primary">menu</mat-icon>
  </button>
  <h1 class="primary">Core Bank Office</h1>
  <div class="spacer"></div>
  @if (isAuthenticated) {
  <div class="justify-end">
    <span class="username">Olá, {{ userName }}</span>
    <button mat-icon-button aria-label="Logout icon" (click)="logout()">
      <mat-icon class="">logout</mat-icon>
    </button>
  </div>

  } @else {
  <button mat-icon-button aria-label="Login" class="justify-end" routerLink="/login">
    <mat-icon class="">login</mat-icon>
  </button>
  }

</mat-toolbar>


<mat-sidenav-container autosize>
  <mat-sidenav>
    <mat-nav-list>
      @for (item of menuItems; track $index) {
      <a [routerLink]="item.disabled? null : [item.route]"
      [class.active]="item.active" [class.disabled]="item.disabled" mat-list-item>
        <span class="entry">
          <mat-icon [class.active]="item.active">{{item.icon}}</mat-icon>
          <span [class.active]="item.active">{{item.name}}</span>
        </span>
      </a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-container>
      @if(title !== "Login" && title !== "Backoffice"){
      <div class="header">
        <h2 class="secondary">{{title}}</h2>
      </div>}
      <router-outlet #routerOutlet="outlet"></router-outlet>
    </ng-container>

  </mat-sidenav-content>
</mat-sidenav-container>